<div class="container">
	<div class="row">
		<div class="margin"> 
		<h1>Catchy Tagline! You Should Definitely Give Us Money</h1>
		
		Seriously though, you should buy this product. It is a great product. The best. A tremendous bargain. Stay away from the products of our competitors. They're a disaster, a collossal failure. You know what's not a failure? This product.
		</div>  
		<div>
			<%= link_to "Shut up and take my money!", new_user_registration_path, 
				:class => "btn btn-primary btn-lg margin" %>
		</div>
	</div>
</div>

