<header class="main-header">
  <a class="logo" href="/">
<%= Constants::Site::Name %>
</a>
  <nav class="navbar navbar-static-top" role="navigation">
  <div class="navbar-custom-menu">
    <% if user_signed_in? %>
      <%= render "layouts/navigation/navbar_custom_menu" %>
    <% else %>
      <%= link_to('Login', new_user_session_path) %>
      <%= link_to('Try it!', new_user_registration_path) %>
    <% end %>
    </div>
  </nav>
</header>